.trainingForm {
  display: flex;
  flex-direction: column;
  width: 30%;
  margin: 15px auto;
}

.trainingTitle {
  width: 50%;
  margin: auto;
  text-align: center;
  font-family: Arial;
  color: #787878;
}

.trainingSubmitBtn {
  width: 50%;
  margin: 10px auto;
}
